<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .error-box {
            background-color: #ffcccc;
            color: red;
            padding: 50px;
            margin-bottom: 10px;
        }
    </style>>
</head>
<body>
{% include 'courses/header.html' %}
<div class="container d-flex align-items-center py-5 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
<form method="post">
   {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% if form.errors %}
   <div class="error-box">
   {{form.errors}}
</div>
    {% endif %}
 <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Name">
      <label for="username">Username</label>
    </div>
<!--    <div class="form-floating">-->
<!--      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">-->
<!--      <label for="floatingInput">Email address</label>-->
<!--    </div>-->
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

  <p>If you don't have an account, <a href="{% url 'register' %}">register</a>.</p>

    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>
</main>
  </div>

</body>
</html>