{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        .btn-custom {
    background-color: #731616 ;
    color: white;
    border: 1px solid #731616;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 20px;
    text-decoration: none;
    margin-top:10px;
}

.btn-custom:hover {
    background-color: white;
    color: #731616;
    border: 1px solid #731616;
    text-decoration: none;
}
    </style>
</head>

<body>

{% include 'courses/header.html' %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Study English</h1>
        <h3 class="fw-normal text-muted mb-3">Learn anything you want with us</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="/placement_test">
                Pass the level test
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
            <a class="icon-link" href="#">
                Enroll in a course
                <svg class="bi">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <a class="icon-link" href="/general_english">
                <h2 class="display-5">General English</h2>
            </a>
            <p class="lead">Comprehensive language learning, from scratch to fluency.</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto"
             style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <div class="container text-into-box">
                <h1 class="card-title pricing-card-title" style="color: #696969; font-weight: normal;">А1-С1<small
                        class="text-body-secondary fw-light"> levels</small></h1>
                <li class="text-main-page">9 months</li>
                <li class="text-main-page">2 lessons per week for 90 minutes</li>
                <li class="text-main-page">Afternoon/Evening sessions</li>
            </div>
        </div>
    </div>


    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <a class="icon-link" href="/express_english">
                <h2 class="display-5">Express English</h2>
            </a>
            <p class="lead">An intensive course for those who need to learn quickly.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <div class="container text-into-box">
                <h1 class="card-title pricing-card-title" style="color: grey; font-weight: normal;">А1-С1<small
                        class="fw-light" style="color: grey;"> levels</small></h1>
                <li class="text-main-page-white">6 months</li>
                <li class="text-main-page-white">2 lessons per week for 135 minutes</li>
                <li class="text-main-page-white">Afternoon/Evening sessions</li>
            </div>
        </div>
    </div>

    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <a class="icon-link" href="/business_english">
                <h2 class="display-5">Business English</h2>
            </a>
            <p class="lead">A specialized course for those who need English for work.</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto"
             style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; ">
            <div class="container text-into-box">
                <h1 class="card-title pricing-card-title" style="color: #696969; font-weight: normal;">А2-С1<small
                        class="text-body-secondary fw-light"> levels</small></h1>
                <li class="text-main-page">9 months</li>
                <li class="text-main-page">2 lessons per week for 90 minutes</li>
                <li class="text-main-page">Afternoon/Evening sessions</li>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h1 class="pb-2 border-bottom">How to become a Study English student?</h1>
    <div class="svg-heading-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"/>
        </svg>
        <h3 class="fs-2 text-body-emphasis">Leave a request for training</h3>
    </div>

    <p>Fill out the required form online for further training</p>
    <a href="/user_form" class="icon-link">
        Fill in the form
        <svg class="bi">
            <use xlink:href="#chevron-right"></use>
        </svg>
    </a>
    <div class="svg-heading-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"/>
        </svg>
        <h3 class="fs-2 text-body-emphasis">Find out your language level</h3>
    </div>
    <p>Take a special test to determine your language level</p>
    <a href="/placement_test" class="icon-link">
        Take the test
        <svg class="bi">
            <use xlink:href="#chevron-right"></use>
        </svg>
    </a>
    <div class="svg-heading-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 16 16">
            <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318"/>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8"/>
        </svg>
        <h3 class="fs-2 text-body-emphasis">Wait for notification about the start of classes</h3>
    </div>

    <p>Instructions will be sent to you via Email.</p>
    {% if show_button %}

    <a href="{% url 'info_email' %}" class="btn-custom">View Application Details</a>
    {% endif %}
</div>
</div>

<!--<div class="container center-container text-center">-->
<!--    <div class="row mb-2 justify-content-center">-->
<!--        <div class="col-md-3 themed-grid-col">A</div>-->
<!--        <div class="col-md-1"></div>-->
<!--        <div class="col-md-3 themed-grid-col">B</div>-->
<!--        <div class="col-md-1"></div>-->
<!--        <div class="col-md-3 themed-grid-col">C</div>-->
<!--    </div>-->
<!--</div>-->

{% include 'courses/footer.html' %}

</body>
</html>
