{% include 'courses/header.html' %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% else %}

<div class="container col-xxl-10 px-5 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        </div>
        <div class="col-lg-6">
            <h1 class="pb-2 ">Take the test to determine your English language level!</h1>
            <p class="lead">You can test your knowledge in just 20 minutes with the help of an exclusive online
                test.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form action="{% url 'random_question'%}" method="get">
                    <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Take the test</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endif %}
