{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/random_question.css' %}">
    <style>
        .btn-finish, .btn-next {
    bottom: 500px;
    right: 350px;
}
        </style>
</head>

<body>
{% include 'courses/header.html' %}
<form method="post">
    {% csrf_token %}
    <h1 class="question-header">{{ question.question_text }}</h1>
    <h4 class="current_question">{{ question_id }} / {{ total_questions }}</h4>
    <ul class="list-answers">
        {% for choice in question.choices %}
        <div class="list-group container">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="answer" value="{{ choice }}">
                <span>
               {{ choice }}
              </span>
            </label>
        </div>
        {% endfor %}
    </ul>
    <input type="hidden" name="question_id" value="{{ question_id }}">

    {% if question_id == total_questions %}
    <button type="submit" class="btn btn-finish btn-dark">Finish</button>
    {% else %}
    <button type="submit" class="btn btn-next btn-dark">Next question</button>
    {% endif %}
</form>
</body>
</html>


